ATHARVA BHATIA DST 10224

In [1]:
# Import Pandas and NumPy

import numpy as np
import pandas as pd

#pip install db-sqlite3
#SQLite in general is a server-less database that you can use within almost all programming languages including Python.
import sqlite3

We import the sqlite3 module and then create a connection object which will connect us to the database and will let us execute the SQL statements.

sqlite3.connect(Database)

__cursor()__ - we can use the cursor object to call the execute() method to execute any SQL queries.

__STEPS:__
To query data in an SQLite database from Python, you use these steps:

- First, establish a connection to the SQLite database by creating a Connection object.
- Next, create a Cursor object using the cursor method of the Connection object.
- Then, execute a SELECT statement.
- After that, call the fetchall() method of the cursor object to fetch the data.
- Finally, loop the cursor and process each row individually.

In [2]:
db = 'movies.sqlite'


conn = sqlite3.connect(db)
cur = conn.cursor()

## QUESTIONS
### Question 1: Can you get all data about movies?

In [3]:
db = 'movies.sqlite'


conn = sqlite3.connect(db)
cur = conn.cursor()
cur.execute('SELECT * FROM movies')
#use the cursor object to call the execute() method to execute any SQL queries.
movies = cur.fetchall()

#movies -> if u print movies , all the data shown in list manner, can't understanadble

#Note - fetchall() --> fetch all rows for the current query, if no rows avaliable then,it returns an empty list.

movies = pd.DataFrame(movies, columns = ['id', 'original_title', 'budget', 'popularity', 'release_date', 'revenue', 'title', 'vote_average', 'vote_count', 'overview', 'tagline', 'uid', 'director_id'])
#Creating a dataframe, A dataframe contains rows and columns , It is a Two-dimensional, size-mutable, potentially heterogeneous tabular data.

print('Shape of Movies data :',movies.shape)
print('\n\n\n')
movies.head(10)
#Displays first 3 rows in the table

Shape of Movies data : (4773, 13)

,id,original_title,budget,popularity,release_date,revenue,title,vote_average,vote_count,overview,tagline,uid,director_id
0,43597,Avatar,237000000,150,2009-12-10,2787965087,Avatar,7.2,11800,"In the 22nd century, a paraplegic Marine is di...",Enter the World of Pandora.,19995,4762
1,43598,Pirates of the Caribbean: At World's End,300000000,139,2007-05-19,961000000,Pirates of the Caribbean: At World's End,6.9,4500,"Captain Barbossa, long believed to be dead, ha...","At the end of the world, the adventure begins.",285,4763
2,43599,Spectre,245000000,107,2015-10-26,880674609,Spectre,6.3,4466,A cryptic message from Bond’s past sends him o...,A Plan No One Escapes,206647,4764
3,43600,The Dark Knight Rises,250000000,112,2012-07-16,1084939099,The Dark Knight Rises,7.6,9106,Following the death of District Attorney Harve...,The Legend Ends,49026,4765
4,43601,John Carter,260000000,43,2012-03-07,284139100,John Carter,6.1,2124,"John Carter is a war-weary, former military ca...","Lost in our world, found in another.",49529,4766
5,43602,Spider-Man 3,258000000,115,2007-05-01,890871626,Spider-Man 3,5.9,3576,The seemingly invincible Spider-Man goes up ag...,The battle within.,559,4767
6,43603,Tangled,260000000,48,2010-11-24,591794936,Tangled,7.4,3330,When the kingdom's most wanted-and most charmi...,They're taking adventure to new lengths.,38757,4768
7,43604,Avengers: Age of Ultron,280000000,134,2015-04-22,1405403694,Avengers: Age of Ultron,7.3,6767,When Tony Stark tries to jumpstart a dormant p...,A New Age Has Come.,99861,4769
8,43605,Harry Potter and the Half-Blood Prince,250000000,98,2009-07-07,933959197,Harry Potter and the Half-Blood Prince,7.4,5293,"As Harry begins his sixth year at Hogwarts, he...",Dark Secrets Revealed,767,4770
9,43606,Batman v Superman: Dawn of Justice,250000000,155,2016-03-23,873260194,Batman v Superman: Dawn of Justice,5.7,7004,Fearing the actions of a god-like Super Hero l...,Justice or revenge,209112,4771

ANALYSIS:
IN this question, we aim to find all the data about movies present in the table. This is achieved using 'select' command.

In [4]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4773 entries, 0 to 4772
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              4773 non-null   int64
 1   original_title  4773 non-null   object
 2   budget          4773 non-null   int64
 3   popularity      4773 non-null   int64
 4   release_date    4773 non-null   object
 5   revenue         4773 non-null   int64
 6   title           4773 non-null   object
 7   vote_average    4773 non-null   float64
 8   vote_count      4773 non-null   int64
 9   overview        4770 non-null   object
 10  tagline         3951 non-null   object
 11  uid             4773 non-null   int64
 12  director_id     4773 non-null   int64
dtypes: float64(1), int64(7), object(5)
memory usage: 484.9+ KB

## Question 2: How do you get all data about directors?

In [5]:
cur.execute('SELECT * FROM directors')
#use the cursor object to call the execute() method to execute any SQL queries.

directors = cur.fetchall()
#Note - fetchall() --> fetch all rows for the current query, if no rows avaliable then,it returns an empty list.


directors = pd.DataFrame(directors, columns = ['name', 'id', 'gender', 'uid', 'department'])
#Creating a dataframe, A dataframe contains rows and columns , It is a Two-dimensional, size-mutable, potentially heterogeneous tabular data.

print('Shape of Directors data :',directors.shape)
print('\n\n\n')


directors.head(11)

Shape of Directors data : (2349, 5)

                 name    id  gender    uid department
0       James Cameron  4762       2   2710  Directing
1      Gore Verbinski  4763       2   1704  Directing
2          Sam Mendes  4764       2     39  Directing
3   Christopher Nolan  4765       2    525  Directing
4      Andrew Stanton  4766       2      7  Directing
5           Sam Raimi  4767       2   7623  Directing
6        Byron Howard  4768       2  76595  Directing
7         Joss Whedon  4769       2  12891  Directing
8         David Yates  4770       2  11343  Directing
9         Zack Snyder  4771       2  15217  Directing
10       Bryan Singer  4772       2   9032  Directing

ANALYSIS:
In this question, we aim to find all the data about directors present in the table. This is achieved using 'select' command.

In [6]:
directors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2349 entries, 0 to 2348
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        2349 non-null   object
 1   id          2349 non-null   int64
 2   gender      2349 non-null   int64
 3   uid         2349 non-null   int64
 4   department  2349 non-null   object
dtypes: int64(3), object(2)
memory usage: 91.9+ KB

Question 3: Check how many movies are present in iMDB.

In [7]:
cur.execute('SELECT COUNT(*)FROM movies')
#use the cursor object to call the execute() method to execute any SQL queries.

movies = cur.fetchall()
#Note - fetchall() --> fetch all rows for the current query, if no rows avaliable then,it returns an empty list.


for x in movies:
    print(x)

(4773,)

ANALYSIS:
In this question we had to count all the movies in iMDB, we achieved this using 'COUNT' function.

Note/ Analysis : I had generated virtual table with 3 columns of date, id and movies and I got results that POTC is the most awarded voted movie from Jan 1,2000

Question 4: Find these 3 directors: James Cameron ; Luc Besson ; John Woo

In [8]:
cur.execute('SELECT * FROM directors WHERE name = "James Cameron" OR name = "Luc Besson" OR name = "John Woo"')
directors = cur.fetchall()

directors = pd.DataFrame(directors, columns = ['name', 'id', 'gender', 'uid', 'department'])

directors.head(11)

            name    id  gender    uid department
0  James Cameron  4762       2   2710  Directing
1       John Woo  4893       2  11401  Directing
2     Luc Besson  4949       2     59  Directing

ANALYSIS:
In ths question we had to find details about three directors and this was achieved using 'where' clause in 'select' command.

Question 5: Find all directors with name starting with Steven.

In [9]:
cur.execute('SELECT name FROM directors WHERE name LIKE "Steven%"')
directors = cur.fetchall()

directors = pd.DataFrame(directors, columns = ['name'])


directors.head(11)

                 name
0    Steven Spielberg
1   Steven Soderbergh
2        Steven Brill
3     Steven Zaillian
4        Steven Quale
5       Steven Seagal
6  Steven E. de Souza
7    Steven Shainberg
8    Steven R. Monroe

ANALYSIS:
    In this question we had to find the names of all directors starting with 'Steven' and this was attained using 'LIKE' command in Where clause.

Question 6: Count female directors.

In [10]:
cur.execute('SELECT COUNT(*) FROM directors WHERE gender=1')
directors = cur.fetchall()
#Note - fetchall() --> fetch all rows for the current query, if no rows avaliable then,it returns an empty list.
for x in directors:
    print(x)

(150,)

ANALYSIS:
In this question we had to find the total no. of female directors in the table, this was achieved by Count method.

Question 7: Find the name of the 10th first women directors?

In [11]:
cur.execute('SELECT * FROM directors WHERE gender=1 ')
directors = cur.fetchall()
#Note - fetchall() --> fetch all rows for the current query, if no rows avaliable then,it returns an empty list.


directors = pd.DataFrame(directors, columns = ['name', 'id', 'gender', 'uid', 'department'])
#Creating a dataframe, A dataframe contains rows and columns , It is a Two-dimensional, size-mutable, potentially heterogeneous tabular data.



directors.head(10)

                  name    id  gender     uid department
0       Brenda Chapman  4801       1   59803  Directing
1      Lilly Wachowski  4805       1    9339  Directing
2  Jennifer Yuh Nelson  4853       1  142312  Directing
3      Kathryn Bigelow  4970       1   14392  Directing
4         Nancy Meyers  4978       1   17698  Directing
5          Jill Culton  4979       1    7881  Directing
6           Mimi Leder  4996       1   51984  Directing
7         Vicky Jenson  5032       1   12058  Directing
8         Betty Thomas  5052       1   31024  Directing
9       Angelina Jolie  5086       1   11701  Directing

ANALYSIS:
In this question we had to find the name of 10 first female directors in our directors table, this was achieved giving the query as 'gender=1.'

Question 8: What are the 3 most popular movies?

In [12]:
cur.execute('SELECT original_title FROM movies ORDER BY popularity DESC')
#use the cursor object to call the execute() method to execute any SQL queries.
movies = cur.fetchall()

movies = pd.DataFrame(movies, columns = [ 'original_title'])

movies.head(3)

  original_title
0        Minions
1   Interstellar
2       Deadpool

ANALYSIS:
In this question we had to find the 3 most popular movies and it was attained using ORDER BY clause.

Question 9: What are the 3 most bankable movies?

In [13]:
cur.execute('SELECT original_title FROM movies ORDER BY revenue DESC')
#use the cursor object to call the execute() method to execute any SQL queries.
movies = cur.fetchall()

#movies -> if u print movies , all the data shown in list manner, can't understanadble

#Note - fetchall() --> fetch all rows for the current query, if no rows avaliable then,it returns an empty list.

movies = pd.DataFrame(movies, columns = [ 'original_title'])
#Creating a dataframe, A dataframe contains rows and columns , It is a Two-dimensional, size-mutable, potentially heterogeneous tabular data.

print('Shape of Movies data :',movies.shape)
print('\n\n\n')
movies.head(3)

Shape of Movies data : (4773, 1)

  original_title
0         Avatar
1        Titanic
2   The Avengers

ANALYSIS:
In this question we had to find the three most bankable movies and it was achieved using ORDER BY clause in descending order.

Question 10: What is the most awarded average vote since the January 1st, 2000?

In [24]:
cur.execute('SELECT vote_average FROM movies WHERE release_date > 2000-01-01 ORDER BY vote_count DESC')

movies = cur.fetchall()

movies = pd.DataFrame(movies, columns = [ 'vote_average'])

movies.head(1)

   vote_average
0           8.1

ANALYSIS:
The most awarded vote since January 1st,2000 was executed using 'WHERE' clause and 'ORDER BY' clause. Order by clause had to be applied at vote_count.

Question 11: Which movie(s) were directed by Brenda Chapman?

In [15]:
cur.execute('SELECT original_title FROM movies m JOIN directors d ON m.director_id=d.id WHERE name ="Brenda Chapman"')
movies= cur.fetchall()

for x in movies:
    print(x)

('Brave',)

ANALYSIS:
In this question we had to find the movies which were directed by Brenda Chapman and this was achieved by JOINING' the two tables.

Question 12: Whose director made the most movies?

In [16]:
cur.execute(' SELECT name,count(name) FROM movies m Join directors d ON m.director_id=d.id group by director_id order by count(name) DESC limit 10')

movies = cur.fetchall()


for x in movies:
    print(x)

('Steven Spielberg', 27)
('Woody Allen', 21)
('Clint Eastwood', 20)
('Martin Scorsese', 20)
('Spike Lee', 16)
('Robert Rodriguez', 16)
('Ridley Scott', 16)
('Renny Harlin', 15)
('Steven Soderbergh', 15)
('Oliver Stone', 14)

ANALYSIS:
In this question we had to find the directors who made the most movies, this was achieved by 'Joining' the two tables and using 'Order By' clause. Count function was also used. A limit of 10 directors was applied so that the output remains short.

Question 13: Whose director is the most bankable?

In [17]:
cur.execute('SELECT name,revenue FROM movies m Join directors d ON m.director_id=d.id group by director_id order by revenue DESC limit 10')
movies = cur.fetchall()


for x in movies:
    print(x)

('James Cameron', 2787965087)
('Colin Trevorrow', 1513528810)
('James Wan', 1506249360)
('Joss Whedon', 1405403694)
('Chris Buck', 1274219009)
('Shane Black', 1215439994)
('Kyle Balda', 1156730962)
('Anthony Russo', 1153304495)
('Christopher Nolan', 1084939099)
('Lee Unkrich', 1066969703)

ANALYSIS:
In this question we had to find the directors who mad the most bankable movies, this was achieved by 'Joining' the tables and 'order by' clause. a limit of 10 was also applied.

## List out Top 10 highest budget made movies

In [18]:
cur.execute('SELECT * FROM movies ORDER BY budget DESC')

movies = cur.fetchall()

movies = pd.DataFrame(movies, columns = [ 'id', 'original_title', 'budget', 'popularity', 'release_date', 'revenue', 'title', 'vote_average', 'vote_count', 'overview', 'tagline', 'uid', 'director_id'])

movies.head(10)

,id,original_title,budget,popularity,release_date,revenue,title,vote_average,vote_count,overview,tagline,uid,director_id
0,43614,Pirates of the Caribbean: On Stranger Tides,380000000,135,2011-05-14,1045713802,Pirates of the Caribbean: On Stranger Tides,6.4,4948,Captain Jack Sparrow crosses paths with a woma...,Live Forever Or Die Trying.,1865,4775
1,43598,Pirates of the Caribbean: At World's End,300000000,139,2007-05-19,961000000,Pirates of the Caribbean: At World's End,6.9,4500,"Captain Barbossa, long believed to be dead, ha...","At the end of the world, the adventure begins.",285,4763
2,43604,Avengers: Age of Ultron,280000000,134,2015-04-22,1405403694,Avengers: Age of Ultron,7.3,6767,When Tony Stark tries to jumpstart a dormant p...,A New Age Has Come.,99861,4769
3,43607,Superman Returns,270000000,57,2006-06-28,391081192,Superman Returns,5.4,1400,Superman returns to discover his 5-year absenc...,None,1452,4772
4,43601,John Carter,260000000,43,2012-03-07,284139100,John Carter,6.1,2124,"John Carter is a war-weary, former military ca...","Lost in our world, found in another.",49529,4766
5,43603,Tangled,260000000,48,2010-11-24,591794936,Tangled,7.4,3330,When the kingdom's most wanted-and most charmi...,They're taking adventure to new lengths.,38757,4768
6,43602,Spider-Man 3,258000000,115,2007-05-01,890871626,Spider-Man 3,5.9,3576,The seemingly invincible Spider-Man goes up ag...,The battle within.,559,4767
7,43610,The Lone Ranger,255000000,49,2013-07-03,89289910,The Lone Ranger,5.9,2311,The Texas Rangers chase down a gang of outlaws...,Never Take Off the Mask,57201,4763
8,43600,The Dark Knight Rises,250000000,112,2012-07-16,1084939099,The Dark Knight Rises,7.6,9106,Following the death of District Attorney Harve...,The Legend Ends,49026,4765
9,43605,Harry Potter and the Half-Blood Prince,250000000,98,2009-07-07,933959197,Harry Potter and the Half-Blood Prince,7.4,5293,"As Harry begins his sixth year at Hogwarts, he...",Dark Secrets Revealed,767,4770

ANALYSIS:
In this we had to perform analysis on the top 10 budget movies present in the table and it was achieved using ORDER BY clause.
This list contains all the information about top 10 budget movies.
We can see that Pirates of the Carribean: On Stranger Tides is the most expensive movie made and Harry Potter and the Hlaf Blood Prince is the least expensive.

List out Top 10 popularity on movies

In [19]:
cur.execute('SELECT * FROM movies ORDER BY popularity DESC')

movies = cur.fetchall()

movies = pd.DataFrame(movies, columns = [ 'id', 'original_title', 'budget', 'popularity', 'release_date', 'revenue', 'title', 'vote_average', 'vote_count', 'overview', 'tagline', 'uid', 'director_id'])

movies.head(10)

,id,original_title,budget,popularity,release_date,revenue,title,vote_average,vote_count,overview,tagline,uid,director_id
0,44143,Minions,74000000,875,2015-06-17,1156730962,Minions,6.4,4571,"Minions Stuart, Kevin and Bob are recruited by...","Before Gru, they had a history of bad bosses",211672,5045
1,43692,Interstellar,165000000,724,2014-11-05,675120017,Interstellar,8.1,10867,Interstellar chronicles the adventures of a gr...,Mankind was born on Earth. It was never meant ...,157336,4765
2,44385,Deadpool,58000000,514,2016-02-09,783112979,Deadpool,7.4,10995,Deadpool tells the origin story of former Spec...,Witness the beginning of a happy ending,293660,5151
3,43691,Guardians of the Galaxy,170000000,481,2014-07-30,773328629,Guardians of the Galaxy,7.9,9742,"Light years from Earth, 26 years after being a...",All heroes start somewhere.,118340,4827
4,43724,Mad Max: Fury Road,150000000,434,2015-05-13,378858340,Mad Max: Fury Road,7.2,9427,An apocalyptic story set in the furthest reach...,What a Lovely Day.,76341,4845
5,43625,Jurassic World,150000000,418,2015-06-09,1513528810,Jurassic World,6.5,8662,Twenty-two years after the events of Jurassic ...,The park is open.,135397,4783
6,43796,Pirates of the Caribbean: The Curse of the Bla...,140000000,271,2003-07-09,655011224,Pirates of the Caribbean: The Curse of the Bla...,7.5,6985,"Jack Sparrow, a freewheeling 17th-century pira...",Prepare to be blown out of the water.,22,4763
7,43679,Dawn of the Planet of the Apes,170000000,243,2014-06-26,710644566,Dawn of the Planet of the Apes,7.3,4410,A group of scientists in San Francisco struggl...,One last chance for peace.,119450,4818
8,43797,The Hunger Games: Mockingjay - Part 1,125000000,206,2014-11-18,752100229,The Hunger Games: Mockingjay - Part 1,6.6,5584,Katniss Everdeen reluctantly becomes the symbo...,Fire burns brighter in the darkness,131631,4831
9,43685,Big Hero 6,165000000,203,2014-10-24,652105443,Big Hero 6,7.8,6135,The special bond that develops between plus-si...,From the creators of Wreck-it Ralph and Frozen,177572,4823

ANALYSIS:
In this we had to perform analysis on top 10 movies based on the popularity, it was achieved using order by clause. And from this table we can see that Minions is the most popular movie and Big Hero 6 is the last one.

What are the top 10 Revenue movies

In [20]:
cur.execute('SELECT * FROM movies ORDER BY Revenue DESC')

movies = cur.fetchall()

movies = pd.DataFrame(movies, columns = [ 'id', 'original_title', 'budget', 'popularity', 'release_date', 'revenue', 'title', 'vote_average', 'vote_count', 'overview', 'tagline', 'uid', 'director_id'])

movies.head(10)

,id,original_title,budget,popularity,release_date,revenue,title,vote_average,vote_count,overview,tagline,uid,director_id
0,43597,Avatar,237000000,150,2009-12-10,2787965087,Avatar,7.2,11800,"In the 22nd century, a paraplegic Marine is di...",Enter the World of Pandora.,19995,4762
1,43622,Titanic,200000000,100,1997-11-18,1845034188,Titanic,7.5,7562,"84 years later, a 101-year-old woman named Ros...",Nothing on Earth could come between them.,597,4762
2,43613,The Avengers,220000000,144,2012-04-25,1519557910,The Avengers,7.4,11776,When an unexpected enemy emerges and threatens...,Some assembly required.,24428,4769
3,43625,Jurassic World,150000000,418,2015-06-09,1513528810,Jurassic World,6.5,8662,Twenty-two years after the events of Jurassic ...,The park is open.,135397,4783
4,43641,Furious 7,190000000,102,2015-04-01,1506249360,Furious 7,7.3,4176,Deckard Shaw seeks revenge against Dominic Tor...,Vengeance Hits Home,168259,4794
5,43604,Avengers: Age of Ultron,280000000,134,2015-04-22,1405403694,Avengers: Age of Ultron,7.3,6767,When Tony Stark tries to jumpstart a dormant p...,A New Age Has Come.,99861,4769
6,43721,Frozen,150000000,165,2013-11-27,1274219009,Frozen,7.3,5295,Young princess Anna of Arendelle dreams about ...,Only the act of true love will thaw a frozen h...,109445,4844
7,43628,Iron Man 3,200000000,77,2013-04-18,1215439994,Iron Man 3,6.8,8806,When Tony Stark's world is torn apart by a for...,Unleash the power behind the armor.,68721,4784
8,44143,Minions,74000000,875,2015-06-17,1156730962,Minions,6.4,4571,"Minions Stuart, Kevin and Bob are recruited by...","Before Gru, they had a history of bad bosses",211672,5045
9,43623,Captain America: Civil War,250000000,198,2016-04-27,1153304495,Captain America: Civil War,7.1,7241,"Following the events of Age of Ultron, the col...",Divided We Fall,271110,4781

ANALYSIS:
In this we had to perform analysis on top 10 movies based on revenue. It was achieved using ORDER BY CLAUSE. From the table we can infer that Avatar is the highest grossing film of all time and Captain America: Civil War is the lowest.

Display most popular movies with vote_average

In [21]:
cur.execute('SELECT * FROM movies ORDER BY vote_average DESC')

movies = cur.fetchall()

movies = pd.DataFrame(movies, columns = [ 'id', 'original_title', 'budget', 'popularity', 'release_date', 'revenue', 'title', 'vote_average', 'vote_count', 'overview', 'tagline', 'uid', 'director_id'])

movies.head(10)

,id,original_title,budget,popularity,release_date,revenue,title,vote_average,vote_count,overview,tagline,uid,director_id
0,47116,Stiff Upper Lips,0,0,1998-06-12,0,Stiff Upper Lips,10.0,1,Stiff Upper Lips is a broad parody of British ...,None,89861,6332
1,47642,"Dancer, Texas Pop. 81",0,0,1998-05-01,565592,"Dancer, Texas Pop. 81",10.0,1,"Four guys, best friends, have grown up togethe...",in the middle of nowhere they had everything,78373,5463
2,47589,Sardaarji,0,0,2015-06-26,0,Sardaarji,9.5,2,A ghost hunter uses bottles to capture trouble...,None,346081,6588
3,45983,One Man's Hero,0,0,1999-08-02,0,One Man's Hero,9.3,2,One Man's Hero tells the little-known story of...,One man's hero is another man's traitor.,69848,5770
4,45478,The Shawshank Redemption,25000000,136,1994-09-23,28341469,The Shawshank Redemption,8.5,8205,Framed in the 1940s for the double murder of h...,Fear can hold you prisoner. Hope can set you f...,278,5051
5,46567,There Goes My Baby,10500000,0,1994-09-02,123509,There Goes My Baby,8.5,2,A group of high school seniors meets in the su...,None,88641,6051
6,46393,The Prisoner of Zenda,0,4,1937-09-03,0,The Prisoner of Zenda,8.4,11,An Englishman on a Ruritarian holiday must imp...,The most thrilling swordfight ever filmed...,43867,5972
7,46934,The Godfather,6000000,143,1972-03-14,245066411,The Godfather,8.4,5893,"Spanning the years 1945 to 1955, a chronicle o...",An offer you can't refuse.,238,5179
8,44259,Fight Club,63000000,146,1999-10-15,100853753,Fight Club,8.3,9413,A ticking-time-bomb insomniac and a slippery s...,Mischief. Mayhem. Soap.,550,4829
9,45415,Schindler's List,22000000,104,1993-11-29,321365567,Schindler's List,8.3,4329,The true story of how businessman Oskar Schind...,"Whoever saves one life, saves the world entire.",424,4799

ANALYSIS:
In this we had to perform analysis based on popularity of vote_average. Attained using ORDER BY Clause.
From the table we can infer that Stiff Upper Lips and Dancer Texas Pop 81 have the highest vote average of '10' whereas Schindler's List has the lowest vote average of 8.3.

List out Particular movie for Voting average and votecount

In [22]:
cur.execute('SELECT * FROM movies ORDER BY vote_average AND vote_count DESC')

movies = cur.fetchall()

movies = pd.DataFrame(movies, columns = [ 'id', 'original_title', 'budget', 'popularity', 'release_date', 'revenue', 'title', 'vote_average', 'vote_count', 'overview', 'tagline', 'uid', 'director_id'])

movies.head(1)

,id,original_title,budget,popularity,release_date,revenue,title,vote_average,vote_count,overview,tagline,uid,director_id
0,43597,Avatar,237000000,150,2009-12-10,2787965087,Avatar,7.2,11800,"In the 22nd century, a paraplegic Marine is di...",Enter the World of Pandora.,19995,4762

ANALYSIS:
In this we had to find out the particular movie for voting average as well as the vote count of the movie was highest. It was achieved using ORDER BY Clause. From the table we can infer that Avatar has the highest voting average as well as the highest vote count among all the other movies.

List out the director names with number of movies and revenue

In [23]:
cur.execute('SELECT name,revenue,count(original_title) FROM movies m Join directors d ON m.director_id=d.id group by director_id')
movies = cur.fetchall()


for x in movies:
    print(x)

('James Cameron', 2787965087, 7)
('Gore Verbinski', 961000000, 7)
('Sam Mendes', 880674609, 7)
('Christopher Nolan', 1084939099, 8)
('Andrew Stanton', 284139100, 4)
('Sam Raimi', 890871626, 11)
('Byron Howard', 591794936, 1)
('Joss Whedon', 1405403694, 3)
('David Yates', 933959197, 3)
('Zack Snyder', 873260194, 7)
('Bryan Singer', 391081192, 8)
('Marc Forster', 586090727, 8)
('Andrew Adamson', 419651413, 5)
('Rob Marshall', 1045713802, 5)
('Barry Sonnenfeld', 624026776, 7)
('Peter Jackson', 956019788, 9)
('Marc Webb', 752215857, 3)
('Ridley Scott', 310669540, 16)
('Chris Weitz', 372234864, 6)
('Anthony Russo', 1153304495, 4)
('Peter Berg', 303025485, 6)
('Colin Trevorrow', 1513528810, 2)
('Shane Black', 1215439994, 2)
('Tim Burton', 1025491110, 14)
('Brett Ratner', 459359555, 9)
('Dan Scanlon', 743559607, 1)
('Michael Bay', 836297228, 12)
('Joseph Kosinski', 400062763, 2)
('John Lasseter', 559852396, 4)
('Martin Campbell', 219851172, 8)
('Lee Unkrich', 1066969703, 1)
('McG', 371353001, 6)
('James Wan', 1506249360, 7)
('J.J. Abrams', 467365246, 4)
('Baz Luhrmann', 351040419, 4)
('Mike Newell', 335154643, 7)
('Guillermo del Toro', 407602906, 5)
('Steven Spielberg', 786636033, 27)
('Peter Sohn', 331926147, 1)
('Brenda Chapman', 538983207, 1)
('Justin Lin', 343471816, 5)
('Roland Emmerich', 769653595, 8)
('Robert Zemeckis', 325233863, 13)
('Lilly Wachowski', 183987723, 6)
('Pete Docter', 735099082, 3)
('Conrad Vernon', 381509870, 3)
('Jon Favreau', 585174222, 6)
('Martin Scorsese', 185770160, 20)
('Rob Cohen', 401128639, 9)
('David Ayer', 745000000, 6)
('Tom Shadyac', 173000000, 7)
('Doug Liman', 370541256, 7)
('Kevin Reynolds', 264218220, 5)
('Stephen Sommers', 302469017, 4)
('Rupert Sanders', 396600000, 1)
('Robert Stromberg', 758539785, 1)
('Matt Reeves', 710644566, 4)
('Roland Joffé', 0, 3)
('Carl Rinsch', 150962475, 1)
('Mike Mitchell', 752600867, 4)
('Brad Bird', 209154322, 4)
('Chris Williams', 652105443, 2)
('Rich Moore', 471222889, 1)
('Chris Sanders', 494878759, 3)
('Jonathan Mostow', 435000000, 4)
('James Gunn', 773328629, 3)
('Hideaki Anno', 77000000, 1)
('David Fincher', 333932083, 10)
('Matthew Vaughn', 353624124, 4)
('Francis Lawrence', 653428261, 5)
('Jon Turteltaub', 215283742, 7)
('Wolfgang Petersen', 181674817, 7)
('James Bobin', 299370084, 3)
('Chris Miller', 798958165, 2)
('Duncan Jones', 433677183, 3)
('Alan Taylor', 440603537, 2)
('Michael Apted', 415686217, 5)
('Oliver Stone', 167298192, 14)
('Jan Pinkava', 623722818, 1)
('Eric Darnell', 603900354, 4)
('Shawn Levy', 413106170, 11)
('Gavin Hood', 373062864, 4)
('Chris Buck', 1274219009, 1)
('George Miller', 378858340, 7)
('Ron Howard', 356613439, 13)
('Kenneth Branagh', 449326618, 7)
('Hoyt Yeatman', 292817841, 1)
('Jonathan Liebesman', 301000000, 5)
('Christopher McQuarrie', 682330139, 3)
('Joe Johnston', 0, 4)
('Steve Hickner', 287594577, 1)
('Jennifer Yuh Nelson', 665692281, 2)
('M. Night Shyamalan', 318502923, 9)
('Simon Wells', 38992758, 3)
('David Bowers', 64459316, 4)
('Joe Wright', 128388320, 6)
('Rob Minkoff', 272912430, 5)
('Lee Tamahori', 431971116, 5)
('Paul Feig', 229147509, 4)
('Peter Ramsey', 306941670, 1)
('Dean Parisot', 202026112, 4)
('Edward Zwick', 456758981, 7)
('Dean DeBlois', 609123048, 1)
('Alex Proyas', 150680864, 5)
('Richard Donner', 285444603, 11)
('Ang Lee', 245360480, 8)
('Jon M. Chu', 371876278, 5)
('Breck Eisner', 119269486, 3)
('Hironobu Sakaguchi', 85131830, 1)
('Peter Weir', 212011111, 4)
('Bill Condon', 829000000, 5)
('Louis Leterrier', 163712074, 6)
('Alejandro González Iñárritu', 532950503, 6)
('David Soren', 282570682, 1)
('Paul Greengrass', 442824138, 7)
('Mark Osborne', 631744560, 2)
('Peyton Reed', 519311965, 4)
('Tim Johnson', 368871007, 2)
('Phillip Noyce', 293329073, 9)
('Darren Aronofsky', 362637473, 6)
('Alfonso Cuarón', 789804554, 4)
('Ralph Zondag', 354248063, 1)
('Tom McGrath', 321887208, 1)
('Chris Columbus', 976475550, 11)
('Robert Schwentke', 61648500, 6)
('Carlos Saldanha', 500188435, 4)
('Guy Ritchie', 334615000, 7)
('Paul Verhoeven', 261317921, 5)
('John McTiernan', 61698899, 10)
('Tony Gilroy', 276572938, 3)
('Joel Schumacher', 238207122, 13)
('John Woo', 546388105, 7)
('Tim Story', 289047763, 7)
('Mark Steven Johnson', 228738393, 2)
('Neill Blomkamp', 286140700, 3)
('David Twohy', 115772733, 4)
('José Padilha', 242688965, 2)
('James L. Brooks', 48668907, 3)
('James Mangold', 261930431, 8)
('George Lucas', 850000000, 5)
('Thomas Langmann', 132900000, 1)
('Cedric Nicolas-Troyan', 164602163, 1)
('Roger Donaldson', 178127760, 7)
('Dave Green', 245623848, 2)
('Josh Trank', 167977596, 2)
('Brad Peyton', 470490832, 3)
('Roger Spottiswoode', 333011068, 4)
('Steven Soderbergh', 362744280, 15)
('Rob Letterman', 237382724, 2)
('Michel Gondry', 227817248, 4)
('Noam Murro', 337580051, 1)
('Raja Gosnell', 563749323, 6)
('Will Finn', 103951461, 1)
('Jan de Bont', 164508066, 5)
('Len Wiseman', 383531464, 3)
('Frank Coraci', 72178895, 7)
('Michael Mann', 87713825, 6)
('Bo Welch', 0, 1)
('Ron Clements', 267045765, 3)
('Peter Chelsom', 10372291, 5)
('Dominic Sena', 237202299, 3)
('Tony Scott', 150166126, 12)
('Paul Weitz', 310650585, 5)
('Adam McKay', 170432927, 6)
('Chuck Russell', 242295562, 6)
('Quentin Tarantino', 425368238, 8)
('Gary Trousdale', 100138851, 2)
('Mark Dindal', 169327687, 3)
('Simon West', 312573423, 8)
('Stefen Fangmeier', 249288105, 1)
('Spike Jonze', 100086793, 4)
('Chris Wedge', 268426634, 3)
('Florian Henckel von Donnersmarck', 278731369, 2)
('Peter Hyams', 211989043, 6)
('Tom Tykwer', 130482868, 5)
('Pitof', 82102379, 1)
('Brad Silberling', 68688831, 4)
('Patrick Hughes', 206172544, 1)
('Ericson Core', 133718711, 1)
('Lawrence Guterman', 0, 2)
('Ron Underwood', 7103973, 3)
('Steve Martino', 246233113, 2)
('David Mamet', 13835130, 2)
('Zhang Yimou', 95311434, 6)
('Ash Brannon', 149044513, 1)
('Frank Oz', 102000000, 7)
('Jay Roach', 104907746, 8)
('Luc Besson', 263920180, 5)
('Michael Patrick King', 288347692, 1)
('Don Michael Paul', 76432727, 3)
('Sergei Bodrov', 114178613, 2)
('Wally Pfister', 103039258, 1)
('Rupert Wyatt', 482860185, 2)
('Mark Waters', 162839667, 6)
('John Moore', 304654182, 4)
('John Lee Hancock', 25819961, 4)
('Renny Harlin', 10017322, 15)
('Phil Lord', 242988466, 4)
('Ben Stiller', 188133322, 5)
('Tony Bancroft', 304320254, 1)
('Timur Bekmambetov', 94061311, 4)
('Walt Becker', 233755553, 4)
('Dennis Dugan', 201596308, 9)
('Sydney Pollack', 162944923, 5)
('Thor Freudenthal', 174578751, 3)
('Brian De Palma', 60874615, 12)
('Mick Jackson', 0, 2)
('Alan J. Pakula', 140807547, 2)
('Kathryn Bigelow', 35168966, 3)
('John Milius', 79114085, 3)
('Andrei Konchalovsky', 16178959, 2)
('Gary Ross', 148336445, 3)
('Paul W.S. Anderson', 132274484, 10)
('Genndy Tartakovsky', 358375603, 3)
('Kevin Lima', 340487652, 2)
('Daniel Espinosa', 208076205, 3)
('Nancy Meyers', 194168700, 5)
('Jill Culton', 197309027, 1)
('Neil Burger', 288747895, 4)
('Jean-Jacques Annaud', 96976270, 4)
('Barry Cook', 0, 2)
('Martin Brest', 142940100, 4)
('Andrew Davis', 78382433, 4)
('Bob Fosse', 37823676, 2)
('Tarsem Singh', 183018522, 4)
('Edgar Wright', 47664559, 4)
('Jon Amiel', 74208267, 4)
('Peter Segal', 123307945, 7)
('Pete Travis', 41037742, 2)
('George A. Romero', 21028755, 7)
('Sylvester Stallone', 274470394, 2)
('Todd Phillips', 254455986, 7)
('Karey Kirkpatrick', 343397247, 2)
('Gary Winick', 144000000, 5)
('Mimi Leder', 140464664, 3)
('Seth Gordon', 163733697, 3)
('Adam Shankman', 212874442, 8)
('D.J. Caruso', 178066569, 4)
('Anthony Minghella', 173013509, 3)
('Albert Hughes', 157107755, 3)
('Les Mayfield', 177977226, 5)
('Joe Pytka', 250200000, 1)
('Scott Derrickson', 233093859, 4)
('Ivan Reitman', 164000000, 8)
('Eric Brevig', 201584141, 2)
('Kelly Asbury', 122563539, 1)
('Stephen Hopkins', 136159423, 6)
('Jonathan Demme', 96105964, 5)
('Henry Jaglom', 0, 1)
('James Algar', 90874570, 1)
('Vincent Ward', 71485043, 1)
('Steven Brill', 0, 4)
('Terry Gilliam', 105316267, 7)
('Lucile Hadzihalilovic', 0, 1)
('Roger Christian', 21400000, 1)
('Joe Dante', 68514844, 6)
('Kevin Costner', 17626234, 3)
('Antony Hoffman', 33463969, 1)
('Jacques Perrin', 19406406, 2)
('Andrés Couturier', 0, 1)
('Roger Allers', 788241776, 1)
('Cody Cameron', 248384621, 1)
('John Singleton', 236350661, 7)
('Oliver Hirschbiegel', 15071514, 2)
('Des McAnuff', 35134820, 1)
('Chris Renaud', 875958308, 1)
('Stephen Norrington', 179265204, 2)
('Pierre Coffin', 970761885, 2)
('David Kellogg', 0, 1)
('Mike Nichols', 119000410, 6)
('Vicky Jenson', 367275019, 2)
('F. Gary Gray', 95226116, 8)
('Antoine Fuqua', 85632458, 8)
('Robert Luketic', 98159963, 6)
('Gil Kenan', 140175006, 2)
('Barry Levinson', 67631903, 13)
('Jerry Zucker', 127600435, 4)
('Andy Tennant', 0, 6)
('Florent-Emilio Siri', 77944725, 1)
('Gary Goldman', 36754634, 2)
('Ron Shelton', 51142659, 4)
('Àlex Pastor', 5802422, 1)
('Henry Selick', 5409517, 2)
('Kyle Balda', 1156730962, 1)
('Fergal Reilly', 349779543, 1)
('Judd Apatow', 61458982, 5)
('Steve Carr', 176104344, 4)
('Mel Gibson', 210000000, 3)
('David Silverman', 527068851, 1)
('Frank Darabont', 37317558, 4)
('Betty Thomas', 294456605, 4)
('Garry Marshall', 309457509, 8)
('Paul Tibbitt', 311594032, 1)
('Clark Johnson', 116643346, 2)
('Cameron Crowe', 203388341, 6)
('Randall Wallace', 114660784, 4)
('Jonathan Frakes', 118000000, 4)
('George Clooney', 154984035, 5)
('Gary Shore', 215529201, 1)
('Andrzej Bartkowiak', 55987321, 5)
('Måns Mårlind', 160112671, 1)
('Gregory Hoblit', 32287044, 3)
('Gary McKendry', 57777106, 1)
('Wych Kaosayananda', 19924033, 1)
('Mikael Salomon', 19870567, 2)
('Bobby Farrelly', 13596911, 11)
('Dan St. Pierre', 18662027, 1)
('Kerry Conran', 57958696, 1)
('Michael Caton-Jones', 38629478, 4)
('Mikael Håfström', 122915111, 4)
('Phil Alden Robinson', 193000000, 1)
('David Slade', 698491347, 3)
('Joseph Ruben', 35431113, 1)
('Seth MacFarlane', 217022588, 3)
('Alejandro Amenábar', 39041505, 4)
('Kinka Usher', 29762011, 1)
('Craig Gillespie', 52099090, 4)
('Rob Bowman', 189198313, 4)
('Doug Lefler', 25303038, 1)
('Scott Waugh', 203277636, 1)
('Lawrence Kasdan', 75715436, 5)
('Michael Lembeck', 172855065, 2)
('Tom Hooper', 441809770, 3)
('Nora Ephron', 250821495, 3)
('Angelina Jolie', 163442937, 3)
('Clint Eastwood', 128884132, 20)
('Larry Charles', 179379533, 5)
('Stanley Kubrick', 162091208, 6)
('Will Gluck', 133821816, 3)
('Glenn Ficarra', 153962963, 3)
('David S. Goyer', 128905366, 2)
('Taylor Hackford', 0, 6)
('Michael Lehmann', 17218080, 3)
('Stuart Beattie', 71154592, 1)
('Roman Polanski', 42093706, 6)
('Robert Rodriguez', 39407616, 16)
('Baltasar Kormákur', 203427584, 3)
('Daniel Lee', 121545703, 2)
('Keenen Ivory Wayans', 101595121, 4)
('Rob Reiner', 107879496, 11)
('Marco Schnabel', 41819064, 1)
('Demian Lichtenstein', 18720175, 1)
('Josh Gordon', 0, 2)
('Tim Hill', 183953723, 5)
('David Frankel', 244082376, 4)
('Marc Lawrence', 93354918, 3)
('Peter Billingsley', 171844840, 1)
('Wes Ball', 311256926, 2)
('Ryan Murphy', 204594016, 2)
('Robert Redford', 186883563, 5)
('Jay Russell', 74541707, 3)
('Kenny Ortega', 0, 5)
('David McNally', 0, 2)
('Brian Robbins', 61112916, 6)
('Brian Levant', 129832389, 6)
('Steven Zaillian', 56702901, 2)
('Sam Fell', 107139399, 1)
('Jon Avnet', 0, 3)
('Robert Stevenhagen', 50877145, 1)
('Kevin Donovan', 0, 1)
('Geoff Murphy', 104324083, 1)
('David O. Russell', 101134059, 8)
('Babak Najafi', 205754447, 1)
('Jean-Pierre Jeunet', 162000000, 5)
('Anthony Stacchi', 108255770, 1)
('Griffin Dunne', 46683377, 3)
('John Pasquin', 0, 3)
('Ruben Fleischer', 105200903, 3)
('Harold Ramis', 62357900, 8)
('Kevin Macdonald', 87784194, 3)
('Donald Petrie', 36850101, 8)
('Jorge Blanco', 104945765, 1)
('Stuart Baird', 67312826, 2)
('Joel Coen', 119940815, 11)
('Robert Lorenz', 0, 1)
('Harold Becker', 0, 4)
('Scott Stewart', 78309131, 2)
('Tony Bill', 17800000, 1)
('Rod Lurie', 27642707, 5)
('Walter Hill', 14828081, 4)
('Akiva Goldsman', 30800231, 1)
('Harald Zwart', 90565421, 2)
('Walter Salles', 25473093, 3)
('Iain Softley', 57490374, 4)
('Frank Miller', 39031337, 1)
('David Koepp', 30418560, 5)
('Uwe Boll', 0, 5)
('Soi Cheang', 193677158, 1)
('John Dahl', 10166502, 4)
('Tim Miller', 783112979, 1)
('Stephen Herek', 0, 8)
('Peter MacDonald', 189015611, 1)
('Anthony Hemingway', 50365377, 1)
('Sean Anders', 58058367, 4)
('Brian Taylor', 149217355, 4)
('John Madden', 62112895, 5)
('Kevin Bray', 57223890, 2)
('Mike Gabriel', 346079773, 1)
('Sam Weisman', 0, 4)
('Jesse Dylan', 231449203, 3)
('Wayne Wang', 154906693, 5)
('Gabriele Muccino', 307077295, 4)
('Tom Dey', 56932305, 3)
('Jimmy Hayward', 110000000, 2)
('Alan Parker', 141047179, 3)
('John Frankenheimer', 41610884, 5)
('Paul King', 259207227, 1)
('Akiva Schaffer', 68267862, 2)
('William Friedkin', 34234008, 6)
('Kent Alterman', 33472850, 1)
('Peter Lord', 118338361, 1)
('Shekhar Kapur', 74237563, 3)
('Karyn Kusama', 52304001, 2)
('Ronald F. Maxwell', 12923936, 2)
('Robert Butler', 11466088, 1)
('Steve Antin', 89519773, 1)
('Jim Gillespie', 6416302, 2)
('Francis Ford Coppola', 136766062, 12)
('Richard Lester', 190458706, 5)
('Scott Cooper', 98837872, 3)
('Curtis Hanson', 5761917, 7)
('Phyllida Lloyd', 609841637, 2)
('Jay Chandrasekhar', 110803676, 4)
('Terrence Malick', 98126565, 4)
('David Dobkin', 75450437, 4)
('Miloš Forman', 47434430, 3)
('Pierre Morel', 52826594, 4)
('Paul Hunter', 0, 1)
('Steve Oedekerk', 72779000, 4)
('John Whitesell', 47231070, 5)
('George Nolfi', 127869379, 1)
('Neil Jordan', 223664608, 8)
('Rawson Marshall Thurber', 216972543, 3)
('Spike Lee', 184376254, 16)
('Brian Helgeland', 161626121, 5)
('Frank Marshall', 152022101, 4)
('Hideo Nakata', 161451538, 1)
('Peter Hewitt', 200804534, 4)
('Joe Roth', 0, 2)
('Bennett Miller', 110206216, 2)
('Jaume Collet-Serra', 222809600, 6)
('Andy Fickman', 106303988, 6)
('James McTeigue', 132511035, 4)
("Matthew O'Callaghan", 69834815, 1)
('Angela Robinson', 66002004, 2)
('Gary Fleder', 100020092, 6)
('Tommy Wirkola', 224803475, 2)
('Adrian Lyne', 119137784, 4)
('Stephen Gaghan', 94000000, 2)
('Jorge R. Gutierrez', 97437106, 1)
('Richard Loncraine', 82800000, 3)
('Christophe Gans', 97607453, 1)
('Howard Deutch', 0, 3)
('Jon Hurwitz', 234989584, 2)
('Steven Quale', 160602194, 2)
('John Landis', 119208989, 5)
('Alexander Witt', 129394835, 1)
('Beeban Kidron', 40203020, 1)
('Carl Franklin', 55495563, 3)
('Steven Seagal', 49000000, 1)
('Danny Boyle', 144056873, 8)
('Andrew Bergman', 113309743, 2)
('Barbet Schroeder', 56714147, 2)
('Peter Webber', 82169884, 2)
('Andrew Niccol', 63327201, 5)
('John Carpenter', 42277365, 10)
('Wes Anderson', 34808403, 7)
('David Cronenberg', 55112356, 7)
('John Stockwell', 44434439, 4)
('David Gordon Green', 26121638, 8)
('Jim Sheridan', 38502340, 3)
('Costa-Gavras', 10541523, 2)
('Patrick Read Johnson', 16671505, 2)
('Richard LaGravenese', 60052138, 5)
('Danny DeVito', 0, 3)
('George Armitage', 6808550, 2)
('Patrick Lussier', 28931401, 4)
('James Wong', 72700000, 4)
('Richard Curtis', 36348784, 3)
('Chuck Bowman', 0, 1)
('Olivier Megaton', 325771424, 3)
('Deepa Mehta', 528972, 2)
('Warren Beatty', 103738726, 3)
('Penny Marshall', 35743308, 4)
('Ted Kotcheff', 125212904, 1)
('Andrei Tarkovsky', 0, 1)
('Yvette Kaplan', 38085778, 1)
('Stephen Frears', 12379402, 10)
('P.J. Hogan', 299288605, 1)
('Brad Furman', 15436808, 3)
('Terence Young', 5200000, 4)
('David Zucker', 220673217, 5)
('Denis Villeneuve', 122126687, 3)
('Thomas Carter', 76669806, 3)
('Roger Michell', 94935764, 3)
('Luis Llosa', 136885767, 2)
('Melville Shavelson', 0, 1)
('Garth Jennings', 104478416, 1)
('Joel Zwick', 0, 2)
('Russell Mulcahy', 148412065, 4)
('David R. Ellis', 56422687, 5)
('Peter Howitt', 160583018, 4)
('John A. Davis', 55181129, 2)
('David Lynch', 30925690, 5)
('Julie Taymor', 0, 3)
('Mathieu Kassovitz', 72108608, 2)
('John Gray', 0, 1)
('John Schultz', 57881056, 3)
('Sean Penn', 29400000, 2)
('Susan Stroman', 38058335, 1)
('Simon Wincer', 17300889, 4)
('Billy Bob Thornton', 0, 2)
('Danny Pang', 42487390, 2)
('George P. Cosmatos', 2154540, 3)
('Oliver Parker', 160078586, 3)
('Lawrence Kasanoff', 73706, 1)
('Ben Affleck', 232324128, 2)
('Brian Gibson', 0, 2)
('Ben Sharpsteen', 84300000, 1)
('Michael Cimino', 3484331, 2)
('Paul McGuigan', 34227298, 3)
('Gus Van Sant', 80049764, 7)
('Roger Kumble', 68696770, 3)
('Burr Steers', 48190704, 4)
('Nick Park', 224834564, 2)
('John Hamburg', 171963386, 3)
('Reginald Hudlin', 70100000, 3)
('Joseph L. Mankiewicz', 71000000, 1)
('Barbra Streisand', 0, 3)
('Mark Pellington', 55157539, 3)
('John Glen', 156167015, 5)
('Catherine Hardwicke', 89162162, 6)
('John Herzfeld', 56359980, 2)
('Annabel Jankel', 20915465, 1)
('Julie Anne Robinson', 36893721, 2)
('Seth Rogen', 12342632, 2)
('Sngmoo Lee', 11087569, 1)
('Jamel Debbouze', 0, 1)
('Gordon Chan', 0, 1)
('Asger Leth', 46221189, 1)
('John G. Avildsen', 90815558, 2)
('Anne Fletcher', 317375031, 5)
('Bruce Beresford', 177841558, 4)
('Sam Taylor-Johnson', 571006128, 2)
('Ken Kwapis', 177259441, 4)
('Wes Craven', 161834276, 10)
('Etan Cohen', 111811453, 1)
('Nick Cassavetes', 196781193, 4)
('Nicholas Stoller', 90029656, 5)
('Mark A.Z. Dippé', 87840042, 1)
('Callan Brunker', 74597643, 1)
('Nimród Antal', 126248813, 3)
('Alejandro Agresti', 114830111, 1)
('Peter Hedges', 51854875, 2)
('Paul Weiland', 84601681, 1)
('Colin Strause', 41797066, 2)
('Joan Chen', 0, 1)
('Greg Mottola', 97552050, 3)
('Jake Kasdan', 126069509, 4)
('Diane Keaton', 36037909, 1)
('Kelly Makin', 0, 1)
('Stephen Daldry', 55247881, 5)
('Christian Duguay', 30199105, 2)
('Justin Chadwick', 0, 2)
("Pat O'Connor", 65754228, 1)
('Frederik Du Chau', 38172500, 2)
('Irwin Winkler', 0, 4)
('Joseph Kahn', 46546197, 2)
('Sofia Coppola', 60474340, 4)
('Stephen T. Kay', 19412993, 3)
('Juan Antonio Bayona', 180274123, 2)
('Elaine May', 14375181, 1)
('Dennie Gordon', 0, 4)
('Charles Shyer', 13395939, 1)
('Ulu Grosbard', 28121100, 1)
('William Malone', 18902015, 2)
('Malcolm D. Lee', 0, 7)
('Jerry Jameson', 0, 2)
('Mic Rodgers', 10667893, 1)
('Christian Alvart', 20645327, 2)
('Jean-Marie Poiré', 0, 3)
('Marc F. Adler', 0, 1)
('Geoffrey Sax', 23937870, 2)
('Richard Shepard', 0, 3)
('Peter Chan', 0, 1)
('Sergei Bodrov Jr.', 0, 1)
('Bong Joon-ho', 86758912, 2)
('Bibo Bergeron', 0, 1)
('Jeff Nathanson', 0, 1)
('S.S. Rajamouli', 100000000, 1)
('Charles S. Dutton', 6614280, 1)
('Jonathan Lynn', 0, 4)
('David Carson', 120000000, 1)
('Wong Kar-wai', 64076736, 3)
('Yuefeng Song', 0, 1)
('Norman Jewison', 73956241, 5)
('David Mirkin', 0, 1)
('Luis Mandoki', 29700000, 2)
('Lee Daniels', 47536959, 2)
('Jeb Stuart', 6482195, 2)
('Steve Miner', 0, 5)
('Paul Thomas Anderson', 28258060, 6)
('David Leland', 5410749, 2)
('J Blakeson', 109906372, 1)
('Ryan Coogler', 173567581, 2)
('Kirk Jones', 79700000, 5)
('Jennifer Flackett', 100076342, 1)
('Kevin Smith', 55583804, 12)
('Christian Ditter', 112343513, 1)
('Charles Martin Smith', 95404397, 3)
('Fyodor Bondarchuk', 21834845, 1)
('Irvin Kershner', 160000000, 2)
('Steve Pink', 64572262, 3)
('Scott Hicks', 0, 5)
('Kirk De Micco', 63800345, 1)
('Chris Rock', 0, 3)
('Wilson Yip', 156844753, 1)
('Robert Wise', 139000000, 4)
('Kevin Rodney Sullivan', 68915888, 3)
('Kevin Munroe', 95608995, 2)
('Mike Tollin', 52277485, 2)
('Patrick Tatopoulos', 91353501, 1)
('Gary David Goldberg', 58405313, 1)
('Tobe Hooper', 122200000, 5)
('Alan Poul', 77477008, 1)
('Luke Greenfield', 59901913, 4)
('Gil Junger', 0, 2)
('Michael Ritchie', 35323292, 3)
('Steven E. de Souza', 99423521, 1)
('Alexandre Aja', 72436439, 4)
('Michael Rymer', 45479110, 2)
('Hugh Wilson', 40263020, 4)
('Mike Hodges', 27107960, 1)
('Scott Mann', 4100000, 1)
('Susanna White', 93246388, 2)
('Chris Carter', 68369434, 1)
("Tommy O'Haver", 27388767, 2)
('Peter Landesman', 50363790, 1)
('Gary Chapman', 19478106, 1)
('Craig Mazin', 25871834, 2)
('Allen Hughes', 19701164, 1)
('Kimble Rendall', 0, 1)
('Peter Yates', 16519460, 1)
('Lasse Hallström', 0, 9)
('Jean-Marc Vallée', 27409889, 3)
('Tsui Hark', 0, 1)
('Lexi Alexander', 10089373, 1)
('Ronny Yu', 0, 4)

ANALYSIS:
In this we had to list out the director names with number of movies and revenue and this analysis was performed based on Directing.
It was achieved by'JOINING' the tables as well as using 'count' function on the Movie names.
From the table we can conclude that no limit was set on the number of entries.